/cmake-build-release/
/cmake-build-debug/
/build/
/install
.idea
/thirdparty/tiny-viewer-build/
/thirdparty/tiny-viewer-install/

*.pdf
*.dtmp
*.bkp
*.log
*.out
*.lof
*.bbl
*.blg
*.aux
*.lot
*.gz
*.toc

*.json

vins_marginalization_*
/output/
